APP_NAME=Mailedit
APP_ENV=local
APP_KEY=base64:6KeJxQA1uKhj/ibVOxQiKTktkRkUqWDHlD7ypm4Lp2s=
APP_DEBUG=true
APP_URL=http://localhost

SITE_URL=https://messmerising.com

LOG_CHANNEL=stack

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=mailedit
DB_USERNAME=root
DB_PASSWORD=

BROADCAST_DRIVER=log
CACHE_DRIVER=file
SESSION_DRIVER=file
SESSION_LIFETIME=120
QUEUE_DRIVER=database

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=smtp
MAIL_HOST=email-smtp.us-east-1.amazonaws.com
MAIL_PORT=587
MAIL_USERNAME=AKIAIRPUC7H5GF4Y3MJQ
MAIL_PASSWORD=Ah8Nret26m3TcHX2mL6UdD1MCj1PvpNu3nv41ES/ZaFT
MAIL_ENCRYPTION=tls
MAIL_FROM_ADDRESS=digital@marketingdrops.com
MAIL_FROM_NAME="Mailed it"

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY="${PUSHER_APP_KEY}"
MIX_PUSHER_APP_CLUSTER="${PUSHER_APP_CLUSTER}"
