@import './components/navbar.css';

body {
    margin: 0;
}

.welcome {
    padding: 2.5em 5em 0 5em;
    text-align: center;
    font-size: 5em;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.title {
    text-transform: uppercase;
}

.wrap {
    padding: 1em 3em;
}
