@import './components/navbar.css';

body {
    margin: 0;
}

.welcome {
    padding: 2.5em 5em 0 5em;
    text-align: center;
    font-size: 5em;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

.title {
    text-transform: uppercase;
}

.wrap {
    padding: 1em 3em;
}

.login-heading {
    margin-top: 3.5em;
}

.login-body {
    max-width: 20em;
    margin: 1.8em auto;
}

.login-btn {
    width: 100%;
    background-color: rgb(64, 81, 204);
    color: #ffffff;
    transition: .3s;
    border: rgb(58, 74, 174) 1px solid;
}

.login-btn:hover {
    background-color: #fff;
}

.login-errors {
    margin: 0 auto;
    width: 20em;
}

.brand-body {

}