html, body, .wrap, .h-100 {
    height: 100%;
}

span {
    color: #484848;
}

#mailman {
    width: 8em;
}

#register-icon {
    width: 10em;
}

#mail-big {
    width: 20em;
    margin-top: 7em;
}

#login-left {
    padding: 2em 1em;
}

#login-right {
    background-color: #f9f9f9;
    height: 100%;
}

.login_wrap {
    padding: 2em 2.5em;
}

.login-btn {
    width: 100%;
    padding: .6em;
    font-size: 1.2em;
}

.register-btn {
    padding: .4em 1em;
    font-size: 1.2em;
}

@media only screen and (max-width: 780px) {
    #login-left {
        padding-right: 0;
    }
    #login-right {
        visibility: hidden;
    }
    #register-left {
        text-align: center !important;
    }
    #register-right {
        margin-left: 1em;
    }
}

@media only screen and (min-width: 780px) {
    .register_wrap {
        max-width: 30em;
    }
}