nav.navbar {
    padding: 0;
    border-bottom: 1px solid #bdb7b736;
}

#navbar-text {
    font-size: 1.3em;
    font-family: 'Indie Flower', sans-serif;
}

.nav-item {
    padding: .6em 1em;
    transition: .3s;
    font-size: .9em;
    font-family: 'Nanum Gothic', sans-serif;    
}

.active{
    border-bottom: 3px solid #64b5f6;   
}

.nav-item:hover {
    background-color: #bdb7b736;
}

.dropdown-item {
    padding: 1em 2em;
    font-size: .9em;
    font-family: 'Open Sans', sans-serif; 
    transition: .3s;   
}

.dropdown-item:hover {
   background-color: #bdb7b736;
}